/*css da page home*/
.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--soft-white);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home img {
    height: 500px;
     
    
}

.home p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.home span {
    color: var(--red);
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_red {
    background-color: var(--red);
    color: var(--white);
}

.btn_red:hover {
    background-color: var(--primary);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .home p {
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

@media (min-width: 320px) {
    .home p {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .home img {
        max-width: 100%;
        height: auto;
        display: flex;
       
    }
    .btn  {
            width: 150px;
            height: 40px;
            font-size: 0.7rem;   
        
    }
}

@media ( min-width: 1080px) {
    .home p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
        .btn {
            width: 250px;
            height: 50px;
            font-size: 1.125rem;
            font-weight: bold;
            border: 0;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

}
