.titulo2 {
    padding-top: 2rem;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto_grande {
    font-size: 300px;
    color: var(--red);
    font-weight: bold;

}

.texto_red {
    font-size: 2rem;
    color: var(--red);
    font-weight: bold;
}
@media (max-width: 390px) {
    .texto_grande {
        font-size: 150px;
    }
    .texto_red {
        font-size: 1rem;
    }
}